.main-content {
  min-height: 75vh; }

.homepage-project {
  display: block;
  transition: all 0.3s ease; }
  .homepage-project .content-card {
    padding: 20px; }
    .homepage-project .content-card:hover {
      background-color: #F2F2F2;
      cursor: pointer;
      transition: all 0.3s ease; }
    .homepage-project .content-card h5, .homepage-project .content-card h6 {
      font-size: 14px;
      text-align: center; }
