.homepage-project {
    display: block;
    transition: all 0.3s ease;

    .content-card {
        padding: 20px;

        &:hover {
            background-color: #F2F2F2;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        h5, h6 {
            font-size: 14px;
            text-align: center;
        }
    }
}
