<div class="homepage-project column">
    <div class="content-card" ui-sref="project({id: homepageProjectCtrl.project._id})">
        <img class="thumbnail" ng-src="{{ homepageProjectCtrl.project.picture }}">
        <h5>{{ homepageProjectCtrl.project.company }}</h5>
        <h6>{{ homepageProjectCtrl.project.name }}</h6>
    </div>
</div>
