<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a ui-sref="home">{{ headerCtrl.texts.firstname }} {{ headerCtrl.texts.lastname }}</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><button ui-sref="contact" type="button" class="button">Me contacter</button></li>
        </ul>
    </div>
</div>
