<div class="callout large secondary">
    <div class="row">
        <div class="large-8 medium-12 small-12 columns">
            <h5>{{ homeCtrl.texts.welcomeTitle }}</h5>
            <p>{{ homeCtrl.texts.welcomeMessage }}</p>
        </div>
        <div class="large-2 medium-12 medium-centered small-12 small-centered large-offset-2 columns">
            <img class="thumbnail" ng-src="{{ homeCtrl.texts.avatar }}">
        </div>
    </div>
</div>

<div class="row small-up-2 medium-up-3 large-up-4">
    <homepage-project ng-repeat="project in homeCtrl.projects" project="project"></homepage-project>
</div>
