<div class="row expanded callout secondary">
    <div class="large-3 medium-12 small-12 columns">
        <p class="lead">Suivez-moi</p>
        <ul class="menu vertical">
            <li><a href="{{ footerCtrl.texts.twitter }}" target="_blank">Twitter</a></li>
            <li><a href="{{ footerCtrl.texts.github }}" target="_blank">Github</a></li>
            <li><a href="{{ footerCtrl.texts.instagram }}" target="_blank">Instagram</a></li>
        </ul>
    </div>
    <div class="large-9 medium-12 small-12 columns">
        <p class="lead">Mes derniers tweets</p>
        <ul class="tweet-list">
            <li ng-repeat="tweet in footerCtrl.tweets | limitTo: 5" ng-bind-html="tweet.text | htmllinkreplacer | limitTo: 100"></li>
        </ul>
    </div>
</div>
