<div class="callout large primary">
    <h3>Me contacter</h3>
</div>

<div class="row">
    <div ng-switch="contactCtrl.formSubmitted">
        <form novalidate ng-switch-when="false" name="contactForm" ng-submit="contactCtrl.onSubmit()" class="large-6 large-centered medium-12 small-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <label>Prénom *
                        <input type="text" ng-model="contactCtrl.formData.firstname" required/>
                    </label>
                </div>
                <div class="large-12 columns">
                    <label>Nom *
                        <input type="text" ng-model="contactCtrl.formData.lastname"  required/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Sexe
                        <select ng-model="contactCtrl.formData.gender">
                            <option value="male">Masculin</option>
                            <option value="female">Féminin</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 end columns">
                    <label>Sujet de la prise de contact</label>
                    <label>
                        <input name="subject"
                        ng-model="contactCtrl.formData.subject"
                        value="estimation"
                        type="radio">
                        Devis
                    </label>
                    <label>
                        <input name="subject"
                        ng-model="contactCtrl.formData.subject"
                        value="formation"
                        type="radio">
                        Formation
                    </label>
                    <label>
                        <input name="subject"
                        ng-model="contactCtrl.formData.subject"
                        value="project_question"
                        type="radio">
                        Question sur un projet
                    </label>
                </div>
            </div>

            <div ng-hide="contactCtrl.formData.subject != 'project_question'" class="row">
                <div class="large-12 columns">
                    <select
                    ng-model="contactCtrl.formData.project_question_id"
                    ng-options="project._id as project.name for project in contactCtrl.projects">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Message
                    <textarea ng-model="contactCtrl.formData.message"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button type="submit" class="button" ng-class="{'disabled': contactForm.$invalid }">Envoyer</button>
            </div>
        </div>
    </form>

    <div ng-switch-when="true" class="row">
        <div class="large-6 large-centered medium-12 small-12 columns">
            <div class="callout alert">
                <h5>Non !</h5>
                <p>Désolé vous avez déjà fait une demande de contact.</p>
                <a class="button" ng-click="contactCtrl.deleteLocalStorage()">Vider le localStorage</a>
            </div>
        </div>
    </div>
</div>

</div>
