<div class="row" id="project-page">
    <div class="large-12 medium-12 small-12 text-center columns">
        <div class="blog-post">
            <img class="thumbnail" ng-src="{{ projectCtrl.project.picture }}" width="200px" height="auto">
            <h3>{{ projectCtrl.project.name }}</h3>

            <p>
                <b>Description:</b> {{ projectCtrl.project.description }}
            </p>
            <p>
                <b>Société:</b> {{ projectCtrl.project.company }}
            </p>
            <p>
                <b>Date:</b> {{ projectCtrl.project.date | date:'d/MM/yyyy'}}
            </p>

            <div class="callout">
                <ul class="menu simple">
                    <li><b>Equipe:</b></li>
                    <li ng-repeat="collabotator in projectCtrl.project.collaborators">{{ collabotator.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
